1. dataset to get city names, lat and long

2. create the graph with cities as vertices 

3. specify how they are connected

4. find distance:

    - search if cities are there in the dataset to get coordinates

    - get lat and long of cities to find distance between them 

5. apply DFS, dijkstra, TSP algorithms

In [29]:
import pandas as pd 
from geopy import distance 
import sys

In [30]:
df = pd.read_csv("Indian Cities Database.csv")
df.head()

         City        Lat       Long country iso2          State
0      Abohar  30.144533  74.195520   India   IN         Punjab
1    Adilabad  19.400000  78.310000   India   IN      Telangana
2    Agartala  23.836049  91.279386   India   IN        Tripura
3        Agra  27.187935  78.003944   India   IN  Uttar Pradesh
4  Ahmadnagar  19.094571  74.738432   India   IN    Maharashtra

In [31]:
df1 = df[["City","Lat", "Long"]]
df1.head()

         City        Lat       Long
0      Abohar  30.144533  74.195520
1    Adilabad  19.400000  78.310000
2    Agartala  23.836049  91.279386
3        Agra  27.187935  78.003944
4  Ahmadnagar  19.094571  74.738432

In [32]:
city_dict = {}
cities = []
# city_count = int(input("enter the number of cities: "))
# for i in range(city_count):
#     con = []
#     input_str = input(f"enter the name of  city {1}: ")
#     conn_str = input(f"enter the connections of {input_str}: ")
#     con.append(input_str)    
#     user_list = conn_str.split()
#     for x in user_list: con.append(x)
#     cities.append(con)

# print(cities)

cities = [["Hyderabad","Chennai","Bengaluru"],
["Bengaluru","Ahmedabad"],
["Chennai","Hyderabad"],
["Delhi","Pune"],
["Pune","Ahmedabad","Bengaluru","Chennai"],
['Ahmedabad','Chennai','Pune']
]

for i in range(len(cities)):
    city_dict[cities[i][0]]=i
print(city_dict)
print(cities)

{'Hyderabad': 0, 'Bengaluru': 1, 'Chennai': 2, 'Delhi': 3, 'Pune': 4, 'Ahmedabad': 5}
[['Hyderabad', 'Chennai', 'Bengaluru'], ['Bengaluru', 'Ahmedabad'], ['Chennai', 'Hyderabad'], ['Delhi', 'Pune'], ['Pune', 'Ahmedabad', 'Bengaluru', 'Chennai'], ['Ahmedabad', 'Chennai', 'Pune']]

In [33]:
class graph: 
    def __init__(self,cities,city_dict):
        self.cities = cities
        self.city_dict=city_dict
        self.V = len(cities)
        self.graph = [[0 for row in range(len(cities))]
                      for column in range(len(cities))]
        self.TSP_graph = self.graph.copy()
        self.graph = self.add_edges()
        print(f'Adjacency List: \n{self.graph}\n')
        
       
        self.TSP_graph = self.add_edges_TSP()
        print(f'Adjacency List for TSP: \n{self.TSP_graph}')

    def add_edges(self):
        for row in range(len(self.cities)):
            for col in range(len(self.cities[row])):
                
                if(self.city_dict[self.cities[row][0]]!=self.city_dict[self.cities[row][col]]):
                    s=self.city_dict[self.cities[row][0]]
                    d=self.city_dict[self.cities[row][col]]
                    check = df1[df1["City"].isin([self.cities[row][0],self.cities[row][col]])].reset_index()

                    dis = distance.distance((check.loc[0, "Lat"], check.loc[0, "Long"]), (check.loc[1, "Lat"], check.loc[1, "Long"]))
                    self.graph[s][d] = int(dis.km)
        return(self.graph)
        
               
    def add_edges_TSP(self):
               
        city_list = [self.cities[i][0] for i in range(len(self.cities))]
        
        
        for row in range(len(city_list)):
            for col in range(len(city_list)):
                
                if(row==col):
                    continue
                else:
                    coord = df1[df1["City"].isin([city_list[row],city_list[col]])].reset_index()
                    dis = distance.distance((coord.loc[0, "Lat"], coord.loc[0, "Long"]), (coord.loc[1, "Lat"], coord.loc[1, "Long"]))
                    self.TSP_graph[row][col] = int(dis.km)
        return(self.TSP_graph)

    def printSolution(self, dist):
        print("Vertex \tDistance from Source")
        for node in range(self.V):
            print(node, "\t", dist[node])
 
    
    def minDistance(self, dist, sptSet):
 
        min = sys.maxsize
 
        for u in range(self.V):
            if dist[u] < min and sptSet[u] == False:
                min = dist[u]
                min_index = u
 
        return min_index
 
   
    def dijkstra(self, src):
 
        dist = [sys.maxsize] * self.V
        dist[src] = 0
        sptSet = [False] * self.V
 
        for cout in range(self.V):
 
           
            x = self.minDistance(dist, sptSet)
 
           
            sptSet[x] = True
 
            for y in range(self.V):
                if self.graph[x][y] > 0 and sptSet[y] == False and dist[y] > dist[x] + self.graph[x][y]:
                    dist[y] = dist[x] + self.graph[x][y]
                    
 
        self.printSolution(dist)
        
g = graph(cities,city_dict)

Adjacency List:
[[0, 496, 513, 0, 0, 0], [0, 0, 0, 0, 0, 1231], [513, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1174, 0], [0, 731, 911, 0, 0, 516], [0, 0, 1366, 0, 516, 0]]

Adjacency List for TSP:
[[0, 496, 513, 1254, 503, 875], [496, 0, 288, 1735, 731, 1231], [513, 288, 0, 1751, 911, 1366], [1254, 1735, 1751, 0, 1174, 777], [503, 731, 911, 1174, 0, 516], [875, 1231, 1366, 777, 516, 0]]

In [34]:
graph_dict = {}
for i in range(len(cities)):
    graph_dict[f'{cities[i][0]}'] = [cities[i][j] for j in range(1,len(cities[i]))]
print(graph_dict)
a=list(graph_dict.keys())
def DFS(visited, graph_dict, root):
    if root not in visited: 
        print("-->"+root, end="")
        visited.add(root)
        for neighbour in graph_dict[root]:
            DFS(visited, graph_dict, neighbour)
    else: return

print('-----------------------------------')
for i in range(len(a)):
    print(f"Depth first traversal from {a[i]}")
    visited = set()
   
    DFS(visited,graph_dict,a[i])
    print('\n-----------------------------------')

{'Hyderabad': ['Chennai', 'Bengaluru'], 'Bengaluru': ['Ahmedabad'], 'Chennai': ['Hyderabad'], 'Delhi': ['Pune'], 'Pune': ['Ahmedabad', 'Bengaluru', 'Chennai'], 'Ahmedabad': ['Chennai', 'Pune']}
-----------------------------------
Depth first traversal from Hyderabad
-->Hyderabad-->Chennai-->Bengaluru-->Ahmedabad-->Pune
-----------------------------------
Depth first traversal from Bengaluru
-->Bengaluru-->Ahmedabad-->Chennai-->Hyderabad-->Pune
-----------------------------------
Depth first traversal from Chennai
-->Chennai-->Hyderabad-->Bengaluru-->Ahmedabad-->Pune
-----------------------------------
Depth first traversal from Delhi
-->Delhi-->Pune-->Ahmedabad-->Chennai-->Hyderabad-->Bengaluru
-----------------------------------
Depth first traversal from Pune
-->Pune-->Ahmedabad-->Chennai-->Hyderabad-->Bengaluru
-----------------------------------
Depth first traversal from Ahmedabad
-->Ahmedabad-->Chennai-->Hyderabad-->Bengaluru-->Pune
-----------------------------------

In [35]:
g.dijkstra(0)

Vertex 	Distance from Source
0 	 0
1 	 496
2 	 513
3 	 1254
4 	 503
5 	 875

In [36]:
graph_dict = {}
for i in range(len(cities)):
    graph_dict[f'{cities[i][0]}'] = [cities[i][j] for j in range(1,len(cities[i]))]
graph_dict

{'Hyderabad': ['Chennai', 'Bengaluru'],
 'Bengaluru': ['Ahmedabad'],
 'Chennai': ['Hyderabad'],
 'Delhi': ['Pune'],
 'Pune': ['Ahmedabad', 'Bengaluru', 'Chennai'],
 'Ahmedabad': ['Chennai', 'Pune']}

In [37]:
V = len(cities)
answer = []
nodes = []
temp = []
def tsp(graph, v, currPos, n, count, cost,nodes, answer,temp):


    if (count == n and graph[currPos][0]):
        answer.append(cost + graph[currPos][0])
        nodes.append(temp.copy())
        return


    for i in range(n):
        if (v[i] == False and graph[currPos][i]):
            v[i] = True
            temp.append(i)
            tsp(graph, v, i, n, count + 1, cost + graph[currPos][i],nodes,answer,temp)
            temp.pop()
            v[i] = False
        
#1,2,3,4,5
n = len(cities)

v = [False for i in range(n)]
     
v[0] = True

currPos = 0

tsp(g.TSP_graph, v, currPos, n, 1, 0,nodes, answer, temp)
minpos = answer.index(min(answer))
node_least = nodes[minpos].copy()
node_least.insert(0,currPos)

print("The shortest path to visit all cities is:\n")
keys = list(city_dict.keys())
for i in range(n):
    print(" --> "+keys[node_least[i]], end="") 
print("\n\nThe total cost of the least path is: ",min(answer))

The shortest path to visit all cities is:

 --> Hyderabad --> Chennai --> Bengaluru --> Pune --> Ahmedabad --> Delhi

The total cost of the least path is:  4079
[[1, 2, 3, 4, 5], [1, 2, 3, 5, 4], [1, 2, 4, 3, 5], [1, 2, 4, 5, 3], [1, 2, 5, 3, 4], [1, 2, 5, 4, 3], [1, 3, 2, 4, 5], [1, 3, 2, 5, 4], [1, 3, 4, 2, 5], [1, 3, 4, 5, 2], [1, 3, 5, 2, 4], [1, 3, 5, 4, 2], [1, 4, 2, 3, 5], [1, 4, 2, 5, 3], [1, 4, 3, 2, 5], [1, 4, 3, 5, 2], [1, 4, 5, 2, 3], [1, 4, 5, 3, 2], [1, 5, 2, 3, 4], [1, 5, 2, 4, 3], [1, 5, 3, 2, 4], [1, 5, 3, 4, 2], [1, 5, 4, 2, 3], [1, 5, 4, 3, 2], [2, 1, 3, 4, 5], [2, 1, 3, 5, 4], [2, 1, 4, 3, 5], [2, 1, 4, 5, 3], [2, 1, 5, 3, 4], [2, 1, 5, 4, 3], [2, 3, 1, 4, 5], [2, 3, 1, 5, 4], [2, 3, 4, 1, 5], [2, 3, 4, 5, 1], [2, 3, 5, 1, 4], [2, 3, 5, 4, 1], [2, 4, 1, 3, 5], [2, 4, 1, 5, 3], [2, 4, 3, 1, 5], [2, 4, 3, 5, 1], [2, 4, 5, 1, 3], [2, 4, 5, 3, 1], [2, 5, 1, 3, 4], [2, 5, 1, 4, 3], [2, 5, 3, 1, 4], [2, 5, 3, 4, 1], [2, 5, 4, 1, 3], [2, 5, 4, 3, 1], [3, 1, 2, 4, 5], [3, 1, 2, 5, 4], [3, 1, 4, 2, 5], [3, 1, 4, 5, 2], [3, 1, 5, 2, 4], [3, 1, 5, 4, 2], [3, 2, 1, 4, 5], [3, 2, 1, 5, 4], [3, 2, 4, 1, 5], [3, 2, 4, 5, 1], [3, 2, 5, 1, 4], [3, 2, 5, 4, 1], [3, 4, 1, 2, 5], [3, 4, 1, 5, 2], [3, 4, 2, 1, 5], [3, 4, 2, 5, 1], [3, 4, 5, 1, 2], [3, 4, 5, 2, 1], [3, 5, 1, 2, 4], [3, 5, 1, 4, 2], [3, 5, 2, 1, 4], [3, 5, 2, 4, 1], [3, 5, 4, 1, 2], [3, 5, 4, 2, 1], [4, 1, 2, 3, 5], [4, 1, 2, 5, 3], [4, 1, 3, 2, 5], [4, 1, 3, 5, 2], [4, 1, 5, 2, 3], [4, 1, 5, 3, 2], [4, 2, 1, 3, 5], [4, 2, 1, 5, 3], [4, 2, 3, 1, 5], [4, 2, 3, 5, 1], [4, 2, 5, 1, 3], [4, 2, 5, 3, 1], [4, 3, 1, 2, 5], [4, 3, 1, 5, 2], [4, 3, 2, 1, 5], [4, 3, 2, 5, 1], [4, 3, 5, 1, 2], [4, 3, 5, 2, 1], [4, 5, 1, 2, 3], [4, 5, 1, 3, 2], [4, 5, 2, 1, 3], [4, 5, 2, 3, 1], [4, 5, 3, 1, 2], [4, 5, 3, 2, 1], [5, 1, 2, 3, 4], [5, 1, 2, 4, 3], [5, 1, 3, 2, 4], [5, 1, 3, 4, 2], [5, 1, 4, 2, 3], [5, 1, 4, 3, 2], [5, 2, 1, 3, 4], [5, 2, 1, 4, 3], [5, 2, 3, 1, 4], [5, 2, 3, 4, 1], [5, 2, 4, 1, 3], [5, 2, 4, 3, 1], [5, 3, 1, 2, 4], [5, 3, 1, 4, 2], [5, 3, 2, 1, 4], [5, 3, 2, 4, 1], [5, 3, 4, 1, 2], [5, 3, 4, 2, 1], [5, 4, 1, 2, 3], [5, 4, 1, 3, 2], [5, 4, 2, 1, 3], [5, 4, 2, 3, 1], [5, 4, 3, 1, 2], [5, 4, 3, 2, 1]]